# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# OSX Files
.DS_STORE

# vscode history directory
.history

# Cypress video and snapshot directories
cypress/videos/
cypress/screenshots/
full_report.json
mochawesome-report/
report/
cypress/downloads/
